stage {
  color: #0F1423;
}

.label-shadow {
  color: rgba(0, 0, 0, 0);
}

.sound-button, .menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  color: #0F1423;
  border-color: #cdd1f3;
  background-color: #fafbfe;
}
.sound-button, .menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
  border-radius: 2px;
}
.sound-button:backdrop, .menu #notification .notification-button:backdrop, .menu #notification .notification-icon-button:backdrop, .popup-menu #notification .notification-button:backdrop, .popup-menu #notification .notification-icon-button:backdrop {
  color: rgba(15, 20, 35, 0.67);
}
.sound-button:hover, .menu #notification .notification-button:hover, .menu #notification .notification-icon-button:hover, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover {
  color: #0F1423;
  border-color: #cdd1f3;
  background-color: #dde0f7;
}
.sound-button:active, .menu #notification .notification-button:active, .menu #notification .notification-icon-button:active, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active {
  color: #ffffff;
  border-color: #417AC3;
  background-color: #417AC3;
}
.sound-button:active:backdrop, .menu #notification .notification-button:active:backdrop, .menu #notification .notification-icon-button:active:backdrop, .popup-menu #notification .notification-button:active:backdrop, .popup-menu #notification .notification-icon-button:active:backdrop {
  color: rgba(255, 255, 255, 0.67);
}
.sound-button:insensitive, .menu #notification .notification-button:insensitive, .menu #notification .notification-icon-button:insensitive, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive {
  border-color: rgba(205, 209, 243, 0.55);
  background-color: rgba(250, 251, 254, 0.55);
}
.sound-button:insensitive label, .menu #notification .notification-button:insensitive label, .menu #notification .notification-icon-button:insensitive label, .popup-menu #notification .notification-button:insensitive label, .popup-menu #notification .notification-icon-button:insensitive label, .sound-button:insensitive, .menu #notification .notification-button:insensitive, .menu #notification .notification-icon-button:insensitive, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive {
  color: rgba(15, 20, 35, 0.55);
}

.modal-dialog-button-box .modal-dialog-button, .notification-button, .notification-icon-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;
  color: #0F1423;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(179, 184, 189, 0.33);
}
.modal-dialog-button-box .modal-dialog-button:hover, .notification-button:hover, .notification-icon-button:hover {
  color: #0F1423;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(198, 202, 205, 0.43);
}
.modal-dialog-button-box .modal-dialog-button:focus, .notification-button:focus, .notification-icon-button:focus {
  color: #417AC3;
}
.modal-dialog-button-box .modal-dialog-button:active, .notification-button:active, .notification-icon-button:active {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #417AC3;
}
.modal-dialog-button-box .modal-dialog-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive {
  color: #acaeb3;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(179, 184, 189, 0.18);
}

#menu-search-entry, .menu #notification StEntry, .popup-menu #notification StEntry {
  padding: 7px;
  caret-size: 1px;
  selection-background-color: #223042;
  selected-color: #ffffff;
  transition-duration: 300ms;
  border-radius: 5px;
  color: #0F1423;
  background-color: #ffffff;
  border: 1px solid #cdd1f3;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
}
#menu-search-entry image, .menu #notification StEntry image, .popup-menu #notification StEntry image, .menu #notification StEntry image:hover, .popup-menu #notification StEntry image:hover {
  color: inherit;
}
#menu-search-entry:focus, .menu #notification StEntry:focus, .popup-menu #notification StEntry:focus, #menu-search-entry:hover, .menu #notification StEntry:hover, .popup-menu #notification StEntry:hover {
  color: #ffffff;
  background-color: #417AC3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
}
#menu-search-entry:focus image, .menu #notification StEntry:focus image, .popup-menu #notification StEntry:focus image, #menu-search-entry:hover image, .menu #notification StEntry:hover image, .popup-menu #notification StEntry:hover image {
  color: inherit;
}
#menu-search-entry:insensitive, .menu #notification StEntry:insensitive, .popup-menu #notification StEntry:insensitive {
  color: rgba(15, 20, 35, 0.55);
  background-color: #f9fafe;
  border: 1px solid #dee0f7;
  box-shadow: inset 0 2px 4px rgba(249, 250, 254, 0.05);
}
#menu-search-entry StIcon.capslock-warning, .menu #notification StEntry StIcon.capslock-warning, .popup-menu #notification StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #F27835;
  padding: 0 4px;
}

.notification StEntry {
  padding: 7px;
  caret-size: 1px;
  caret-color: #0F1423;
  selection-background-color: #223042;
  selected-color: #ffffff;
  transition-duration: 300ms;
  border-radius: 5px;
  color: #0F1423;
  background-color: rgba(179, 184, 189, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.notification StEntry image {
  color: inherit;
}
.notification StEntry:focus {
  color: #ffffff;
  background-color: #417AC3;
  border: 1px solid #417AC3;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.notification StEntry:insensitive {
  color: rgba(15, 20, 35, 0.55);
  background-color: rgba(179, 184, 189, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

StScrollView.vfade {
  -st-vfade-offset: 66px;
}
StScrollView.hfade {
  -st-hfade-offset: 66px;
}

StScrollBar {
  padding: 4px 0px 4px 4px;
}
StScrollView StScrollBar {
  min-width: 5px;
  min-height: 5px;
}
StScrollBar StBin#trough {
  background-color: transparent;
  border-radius: 8px;
}
StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
  border-radius: 2px;
  background-color: rgba(65, 122, 195, 0.5);
  border: 0px solid;
  margin: 0px;
}
StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
  background-color: #417AC3;
}
StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
  background-color: #417AC3;
}

.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0, 0, 0, 0);
  -gradient-end: rgba(0, 0, 0, 0);
  -margin-horizontal: 1.5em;
  height: 1em;
}

.popup-slider-menu-item,
.slider {
  -slider-height: 4px;
  -slider-background-color: rgba(65, 122, 195, 0.12);
  -slider-border-color: rgba(65, 122, 195, 0.12);
  -slider-active-background-color: #87abd9;
  -slider-active-border-color: #87abd9;
  -slider-border-width: 1px;
  -slider-handle-radius: 8px;
  -slider-handle-border-color: #417AC3;
  height: 18px;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
  color: #b1c9e6;
}
.popup-menu-item:active .popup-slider-menu-item,
.popup-menu-item:active .slider {
  -slider-active-background-color: #87abd9;
  color: #b1c9e6;
}

.check-box CinnamonGenericContainer {
  spacing: 0.2em;
  min-height: 30px;
  padding-top: 2px;
}
.check-box StLabel {
  font-weight: normal;
}
.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("light-assets/checkbox/checkbox-unchecked.svg");
}
.check-box:focus StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked-focused.svg");
}
.check-box:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked.svg");
}
.check-box:focus:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked-focused.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: 0.2em;
  height: 26px;
  padding-top: 2px;
}
.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none;
}
.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("light-assets/checkbox/checkbox-unchecked.svg");
}
.radiobutton:focus StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked-focused.svg");
}
.radiobutton:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked.svg");
}
.radiobutton:focus:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked-focused.svg");
}

.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain;
  background-image: url("light-assets/switch/switch-off.svg");
}
.toggle-switch:checked {
  background-image: url("light-assets/switch/switch-on.svg");
}
.popup-menu-item:active .toggle-switch {
  background-image: url("common-assets/switch/switch-off-selected.svg");
}
.popup-menu-item:active .toggle-switch:checked {
  background-image: url("common-assets/switch/switch-on-selected.svg");
}

.cinnamon-link {
  color: #32629f;
  text-decoration: underline;
}
.cinnamon-link:hover {
  color: #417ac3;
}

#Tooltip {
  border-radius: 3px;
  padding: 5px 12px;
  background-color: rgba(239, 240, 241, 0.93);
  color: #0F1423;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

.menu,
.popup-menu,
.popup-combo-menu {
  color: #0F1423;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 2px 0px 7px 1px rgba(0, 0, 0, 0.9);
}
.menu-arrow,
.popup-menu-arrow {
  icon-size: 16px;
}
.menu .popup-sub-menu,
.popup-menu .popup-sub-menu,
.popup-combo-menu .popup-sub-menu {
  background-gradient-direction: none;
  box-shadow: none;
  background-color: #e1e4f8;
}
.menu .popup-sub-menu .popup-menu-item:ltr,
.popup-menu .popup-sub-menu .popup-menu-item:ltr,
.popup-combo-menu .popup-sub-menu .popup-menu-item:ltr {
  padding-right: 0em;
}
.menu .popup-sub-menu .popup-menu-item:rtl,
.popup-menu .popup-sub-menu .popup-menu-item:rtl,
.popup-combo-menu .popup-sub-menu .popup-menu-item:rtl {
  padding-left: 0em;
}
.menu .popup-sub-menu StScrollBar,
.popup-menu .popup-sub-menu StScrollBar,
.popup-combo-menu .popup-sub-menu StScrollBar {
  padding: 4px;
}
.menu .popup-sub-menu StScrollBar StBin#trough, .menu .popup-sub-menu StScrollBar StBin#vhandle,
.popup-menu .popup-sub-menu StScrollBar StBin#trough,
.popup-menu .popup-sub-menu StScrollBar StBin#vhandle,
.popup-combo-menu .popup-sub-menu StScrollBar StBin#trough,
.popup-combo-menu .popup-sub-menu StScrollBar StBin#vhandle {
  border-width: 0;
}
.menu .popup-menu-content,
.popup-menu .popup-menu-content,
.popup-combo-menu .popup-menu-content {
  padding: 1em 0em 1em 0em;
}
.menu .popup-menu-item,
.popup-menu .popup-menu-item,
.popup-combo-menu .popup-menu-item {
  padding: 0.4em 1.75em;
  spacing: 1em;
}
.menu .popup-menu-item:active, .menu .popup-menu-item:selected,
.popup-menu .popup-menu-item:active,
.popup-menu .popup-menu-item:selected,
.popup-combo-menu .popup-menu-item:active,
.popup-combo-menu .popup-menu-item:selected {
  color: rgba(15, 20, 35, 0.89) !important;
  background-color: rgba(79, 124, 181, 0.1) !important;
  border-radius: 0 !important;
}
.menu .popup-menu-item:checked,
.popup-menu .popup-menu-item:checked,
.popup-combo-menu .popup-menu-item:checked {
  color: #ffffff;
  background-color: #417AC3;
}
.menu .popup-menu-item:insensitive,
.popup-menu .popup-menu-item:insensitive,
.popup-combo-menu .popup-menu-item:insensitive {
  color: rgba(15, 20, 35, 0.5);
  background: none;
}
.menu .popup-inactive-menu-item,
.popup-menu .popup-inactive-menu-item,
.popup-combo-menu .popup-inactive-menu-item {
  color: #0F1423;
}
.menu .popup-inactive-menu-item:insensitive,
.popup-menu .popup-inactive-menu-item:insensitive,
.popup-combo-menu .popup-inactive-menu-item:insensitive {
  color: rgba(15, 20, 35, 0.55);
}
.menu .popup-menu-item:active .popup-inactive-menu-item,
.popup-menu .popup-menu-item:active .popup-inactive-menu-item,
.popup-combo-menu .popup-menu-item:active .popup-inactive-menu-item {
  color: #ffffff;
}
.menu-icon,
.popup-menu-icon {
  icon-size: 16px;
}

.popup-menu-boxpointer {
  -arrow-border-radius: 3px;
  -arrow-background-color: rgba(0, 0, 0, 0);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0);
  -arrow-base: 0;
  -arrow-rise: 0;
}

.popup-combo-menu {
  padding: 10px 1px;
}

.popup-combobox-item {
  spacing: 1em;
}

.popup-separator-menu-item {
  -gradient-height: 2px;
  -gradient-start: transparent;
  -gradient-end: transparent;
  -margin-horizontal: 1.5em;
  height: 1em;
}

.popup-alternating-menu-item:alternate {
  font-weight: normal;
}

.popup-device-menu-item {
  spacing: 0.5em;
}

.popup-subtitle-menu-item {
  font-weight: normal;
}

.nm-menu-item-icons {
  spacing: 0.5em;
}

#panel {
  font-weight: bold;
  height: 27px;
  width: 32px;
}
#panel:highlight {
  border-image: none;
  background-color: rgba(252, 65, 56, 0.5);
}
#panelLeft {
  spacing: 4px;
}
#panelLeft:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 0, 0, 0.05);
  background-gradient-end: rgba(255, 0, 0, 0.2);
}
#panelLeft:ltr {
  padding-right: 4px;
}
#panelLeft:rtl {
  padding-left: 4px;
}
#panelLeft.vertical {
  padding: 0;
}
#panelLeft.vertical:ltr {
  padding-right: 0px;
}
#panelLeft.vertical:rtl {
  padding-left: 0px;
}
#panelRight:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 255, 0.05);
  background-gradient-end: rgba(0, 0, 255, 0.2);
}
#panelRight:ltr {
  padding-left: 4px;
  spacing: 0px;
}
#panelRight:rtl {
  padding-right: 4px;
  spacing: 0px;
}
#panelRight.vertical {
  padding: 0;
}
#panelRight.vertical:ltr {
  padding-right: 0px;
}
#panelRight.vertical:rtl {
  padding-left: 0px;
}
#panelCenter {
  spacing: 4px;
}
#panelCenter:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 255, 0, 0.05);
  background-gradient-end: rgba(0, 255, 0, 0.2);
}

.panel-top, .panel-bottom, .panel-left, .panel-right {
  color: #ffffff;
  font-size: 1em;
  padding: 0px;
  background-color: rgba(81, 133, 200, 0.70);
}
.panel-dummy {
  background-color: rgba(252, 65, 56, 0.5);
}
.panel-dummy:entered {
  background-color: rgba(252, 65, 56, 0.6);
}
.panel-status-button {
  border-width: 0;
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: bold;
  color: white;
  height: 22px;
}
.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: green;
  transition-duration: 100;
}
.system-status-icon {
  icon-size: 16px;
  padding: 0 1px;
}

#overview {
  spacing: 12px;
}

.window-caption {
  background-color: rgba(239, 240, 241, 0.93);
  border: 1px solid rgba(239, 240, 241, 0.93);
  color: #0F1423;
  spacing: 25px;
  border-radius: 2px;
  font-size: 9pt;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
}
.window-caption#selected {
  background-color: #417AC3;
  color: #ffffff;
  border: 1px solid #417AC3;
  spacing: 25px;
}

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  height: 15px;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
  color: #0F1423;
  background-color: rgba(179, 184, 189, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.expo-workspaces-name-entry image, .expo-workspaces-name-entry image:hover,
.expo-workspaces-name-entry#selected image,
.expo-workspaces-name-entry#selected image:hover {
  color: inherit;
}
.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
  color: #ffffff;
  background-color: #417AC3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
  font-style: italic;
  transition-duration: 300;
  selection-background-color: #223042;
  selected-color: #ffffff;
}
.expo-workspaces-name-entry:focus image, .expo-workspaces-name-entry:focus image:hover,
.expo-workspaces-name-entry#selected:focus image,
.expo-workspaces-name-entry#selected:focus image:hover {
  color: inherit;
}

.expo-workspace-thumbnail-frame {
  border: 4px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
}
.expo-workspace-thumbnail-frame#active {
  border: 4px solid #417AC3;
  background-color: black;
  border-radius: 2px;
}

.expo-background {
  background-color: #eff0f1;
}

.workspace-thumbnails {
  spacing: 26px;
}
.workspace-thumbnails-background, .workspace-thumbnails-background:rtl {
  padding: 8px;
}
.workspace-add-button {
  background-image: url("common-assets/misc/add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 100;
}
.workspace-add-button:hover {
  background-image: url("common-assets/misc/add-workspace-hover.svg");
  transition-duration: 100;
}
.workspace-add-button:active {
  background-image: url("common-assets/misc/add-workspace-active.svg");
  transition-duration: 100;
}
.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.5);
}

.workspace-close-button,
.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 10px;
}
.workspace-close-button:hover,
.window-close:hover {
  background-image: url("common-assets/misc/close-hover.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
}
.workspace-close-button:active,
.window-close:active {
  background-image: url("common-assets/misc/close-active.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
}

.window-close-area {
  background-image: url("common-assets/misc/trash-icon.svg");
  height: 120px;
  width: 400px;
}

.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
  padding-bottom: 10px;
}
.about-title {
  font-size: 2em;
  font-weight: bold;
}
.about-uuid {
  font-size: 10px;
  color: #888;
}
.about-icon {
  padding-right: 20px;
  padding-bottom: 14px;
}
.about-scrollBox {
  border: 1px solid #cdd1f3;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 4px;
  padding-right: 0;
  border-radius: 0;
}
.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}
.about-description {
  padding-top: 4px;
  padding-bottom: 16px;
}
.about-version {
  padding-left: 7px;
  font-size: 10px;
  color: #888;
}

.calendar {
  padding: 0.4em 1.75em;
  spacing-rows: 0px;
  spacing-columns: 0px;
}

.calendar-month-label {
  color: #0F1423;
  font-weight: bold;
  padding: 8px 0;
}

.calendar-change-month-back,
.calendar-change-month-forward {
  width: 16px;
  height: 16px;
}

.calendar-change-month-back {
  background-image: url("common-assets/misc/calendar-arrow-left.svg");
}
.calendar-change-month-back:focus, .calendar-change-month-back:hover {
  background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
}
.calendar-change-month-back:active {
  background-image: url("common-assets/misc/calendar-arrow-left.svg");
}
.calendar-change-month-back:rtl {
  background-image: url("common-assets/misc/calendar-arrow-right.svg");
}
.calendar-change-month-back:rtl:focus, .calendar-change-month-back:rtl:hover {
  background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
}
.calendar-change-month-back:rtl:active {
  background-image: url("common-assets/misc/calendar-arrow-right.svg");
}

.calendar-change-month-forward {
  background-image: url("common-assets/misc/calendar-arrow-right.svg");
}
.calendar-change-month-forward:focus, .calendar-change-month-forward:hover {
  background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward:active {
  background-image: url("common-assets/misc/calendar-arrow-right.svg");
}
.calendar-change-month-forward:rtl {
  background-image: url("common-assets/misc/calendar-arrow-left.svg");
}
.calendar-change-month-forward:rtl:focus, .calendar-change-month-forward:rtl:hover {
  background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
}
.calendar-change-month-forward:rtl:active {
  background-image: url("common-assets/misc/calendar-arrow-left.svg");
}

.datemenu-date-label {
  padding: 0.4em 1.75em;
  font-weight: bold;
  text-align: center;
  color: #0F1423;
  border-radius: 2px;
}

.calendar-day-base {
  font-size: 80%;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 0.1em;
  margin: 5px;
  border-radius: 999px;
}

.calendar-day {
  border-width: 0;
  color: rgba(15, 20, 35, 0.8);
  border: 2px solid transparent;
}
.calendar-day:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.calendar-day:active, .calendar-day:selected {
  color: #0F1423;
  background-color: rgba(0, 0, 0, 0.21);
  border-width: 0;
  box-shadow: inset 0 0 0 2px #417AC3;
  font-weight: bold;
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: rgba(15, 20, 35, 0.4);
  font-weight: bold;
}
.calendar-nonwork-day:hover, .calendar-nonwork-day:focus {
  color: #0F1423;
}

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover,
.calendar-today:selected {
  font-weight: bold;
  color: #ffffff;
  background-color: #417AC3;
  border-width: 0;
}

.calendar-other-month-day {
  color: rgba(15, 20, 35, 0.2);
  background-color: transparent;
  font-style: italic;
  opacity: 1;
}

.calendar-week-number {
  color: rgba(15, 20, 35, 0.7);
  font-size: 80%;
}

.calendar-day-heading {
  color: rgba(15, 20, 35, 0.85);
  margin-top: 1em;
  font-size: 70%;
}

#notification {
  border-radius: 3px;
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  padding: 13px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #0F1423;
}
.menu #notification, .popup-menu #notification {
  border-image: url("light-assets/misc/message.svg") 9 9 9 9;
}
.menu #notification, .menu #notification.multi-line-notification, .popup-menu #notification, .popup-menu #notification.multi-line-notification {
  color: #0F1423;
}
.menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
  padding: 5px;
}
#notification.multi-line-notification {
  padding-bottom: 13px;
  color: #0F1423;
}
#notification-scrollview {
  max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
  height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}

.notification-with-image {
  min-height: 159px;
  color: #0F1423;
}
.notification-button, .notification-icon-button {
  padding: 5px;
}
.notification-icon-button > StIcon {
  icon-size: 36px;
}
#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  color: #0F1423;
  background: none;
  border: none;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
  border-radius: 3px;
  padding: 20px;
}
.switcher-list > StBoxLayout {
  padding: 4px;
}
.switcher-list-item-container {
  spacing: 8px;
}
.switcher-list .item-box {
  padding: 8px;
  border-radius: 2px;
}
.switcher-list .item-box:outlined {
  padding: 8px;
  border: 1px solid #417AC3;
}
.switcher-list .item-box:selected {
  color: #ffffff;
  background-color: #417AC3;
  border: 0px solid #417AC3;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: #0F1423;
}
.switcher-arrow:highlighted {
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

.thumbnail-scroll-gradient-left {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px;
}

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("common-assets/misc/corner-ripple.svg");
  background-size: contain;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.4);
}

.flashspot {
  background-color: white;
}

.modal-dialog {
  color: #0F1423;
  background-color: rgba(242, 243, 252, 0);
  border: none;
  padding: 0 5px 6px 5px;
  text-align: center;
}
.modal-dialog > StBoxLayout:first-child {
  padding: 20px 10px 10px 10px;
}
.modal-dialog-button-box {
  spacing: 0;
  margin: 0px;
  padding: 14px 10px;
  background: none;
  border: none;
}
.modal-dialog-button-box .modal-dialog-button {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}
.modal-dialog .confirm-dialog-title {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 15px;
}

.run-dialog {
  padding: 10px 15px 10px 15px;
  background-color: #F2F3FC;
  border-radius: 4px;
}
.run-dialog > * {
  padding: 0;
}
.run-dialog-label {
  font-size: 1.4em;
  font-weight: bold;
  color: #0F1423;
  text-align: center;
  padding-bottom: 15px;
}
.run-dialog-error-label {
  color: #FC4138;
}
.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px;
}
.run-dialog-completion-box {
  padding-left: 15px;
  font-size: 10px;
}
.run-dialog-entry {
  width: 21em;
  min-height: 1.4em;
  padding: 5px 7px;
  border-radius: 999px;
  caret-color: #ffffff;
  selected-color: #ffffff;
  selection-background-color: #223042;
  color: #0F1423;
  background-color: #ffffff;
  border: 1px solid #cdd1f3;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
}
.run-dialog-entry image, .run-dialog-entry image:hover {
  color: inherit;
}
.run-dialog-entry:focus {
  color: #ffffff;
  background-color: #417AC3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
}
.run-dialog-entry:focus image, .run-dialog-entry:focus image:hover {
  color: inherit;
}
.run-dialog .modal-dialog-button-box {
  border: none;
  box-shadow: none;
  background: none;
  background-gradient-direction: none;
}
.run-dialog-description {
  color: #0F1423;
  padding-top: 15px;
  text-align: center;
}
.run-dialog-description.error {
  color: #FC4138;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: #F27835;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}
.show-processes-dialog-app-list-item {
  color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
  color: white;
}
.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
  font-size: 1.1em;
}

.magnifier-zoom-region {
  border: 2px solid maroon;
}
.magnifier-zoom-region .full-screen {
  border-width: 0px;
}

#keyboard {
  background-color: rgba(239, 240, 241, 0.93);
  border-width: 0;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;
  color: #0F1423;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(179, 184, 189, 0.33);
}
.keyboard-key:hover {
  color: #0F1423;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(198, 202, 205, 0.43);
}
.keyboard-key:active, .keyboard-key:checked {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #417AC3;
}
.keyboard-key:grayed {
  color: #acaeb3;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(179, 184, 189, 0.18);
}

.keyboard-subkeys {
  color: #0F1423;
  padding: 5px;
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(239, 240, 241, 0.93);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.4);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

.menu-favorites-box {
  padding: 0px;
  margin: 39px 0px 0px 0px;
  transition-duration: 300;
  background-color: #e1e4f8;
  border: 0px solid #cdd1f3;
}
.menu-favorites-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.menu-favorites-button:hover {
  color: #0F1423;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
}
.menu-places-box {
  margin: auto;
  padding: 10px;
  border: 0px solid red;
}
.menu-places-button {
  padding: 10px;
}
.menu-categories-box {
  padding: 7px 0px 10px 0px;
}
.menu-applications-outer-box {
  padding: 0px 10px 0 0px;
}
.menu-applications-inner-box {
  background-color: #e1e4f8;
  margin-top: 7px;
  padding: 0px;
}
.menu-application-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 0px;
}
.menu-application-button:highlighted {
  font-weight: bold;
}
.menu-application-button-selected {
  padding: 7px;
  color: #0F1423;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
  margin-top: 0px;
}
.menu-application-button-selected:highlighted {
  font-weight: bold;
}
.menu-application-button-label:ltr {
  padding-left: 5px;
}
.menu-application-button-label:rtl {
  padding-right: 5px;
}
.menu-category-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.menu-category-button-selected {
  padding: 7px;
  color: #0F1423;
  background-color: #e1e4f8;
  border: 1px solid #e1e4f8;
  box-shadow: inset 0 2px 4px rgba(250, 251, 254, 0.05);
}
.menu-category-button-hover {
  background-color: red;
  border-radius: 2px;
}
.menu-category-button-greyed {
  padding: 7px;
  color: rgba(15, 20, 35, 0.55);
  border: 1px solid rgba(0, 0, 0, 0);
}
.menu-category-button-label:ltr {
  padding-left: 5px;
}
.menu-category-button-label:rtl {
  padding-right: 5px;
}
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  height: 30px;
}
.menu-selected-app-box:rtl {
  padding-top: 10px;
  height: 30px;
}
.menu-selected-app-title {
  font-weight: bold;
}
.menu-selected-app-description {
  max-width: 150px;
}
.menu-search-box:ltr {
  padding-left: 5px;
}
.menu-search-box-rtl {
  padding-right: 5px;
}

#menu-search-entry {
  width: 250px;
  min-height: 1.2em;
  font-weight: normal;
  caret-color: #ffffff;
  border-radius: 5px;
}
#menu-search-entry:focus, #menu-search-entry:hover {
  color: #ffffff;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: #ffffff;
}

/* Context menu (at the moment only for favorites) */
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: white;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;
  color: white;
  background: none;
  border: none;
  border-radius: 5px;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
}
.osd-window .osd-monitor-label {
  font-size: 3em;
}
.osd-window .level {
  padding: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #417AC3;
}

.window-list-box {
  spacing: 6px;
  padding-left: 10px;
}
.panel-bottom .window-list-box {
  padding-top: 1px;
}
.panel-top .window-list-box {
  padding-bottom: 1px;
}
.window-list-box.vertical {
  spacing: 4px;
  padding: 10px 0;
}
.window-list-box:highlight {
  background-color: rgba(252, 65, 56, 0.5);
}
.window-list-item-label {
  font-weight: bold;
  width: 15em;
  min-width: 5px;
}
.window-list-item-box {
  background-image: none;
  padding-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  transition-duration: 100;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
}
.panel-bottom .window-list-item-box {
  border-bottom-width: 2px;
}
.panel-top .window-list-item-box {
  border-top-width: 2px;
}
.panel-left .window-list-item-box {
  border-left-width: 2px;
}
.panel-right .window-list-item-box {
  border-right-width: 2px;
}
.window-list-item-box:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.8);
}
.window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus {
  font-weight: bold;
  color: #ffffff;
  background-color: #2d588f;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.8);
}
.window-list-item-box.right, .window-list-item-box.left {
  padding-left: 0px;
  padding-right: 0px;
}
.window-list-item-demands-attention {
  background-gradient-start: #F27835;
  background-gradient-end: #F27835;
}
.window-list-preview {
  color: #ffffff;
  background-color: #5c8dcc;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  spacing: 6px;
}

.sound-button {
  width: 22px;
  height: 13px;
  padding: 8px;
}
.sound-button-container {
  padding-right: 3px;
  padding-left: 3px;
}
.sound-button StIcon {
  icon-size: 1.4em;
}

.sound-track-infos {
  padding: 5px;
}
.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;
}
.sound-track-info StIcon {
  icon-size: 16px;
}
.sound-track-info StLabel {
  padding-left: 5px;
  padding-right: 5px;
}
.sound-track-box {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 220px;
}

.sound-seek-box {
  padding-left: 15px;
}
.sound-seek-box StLabel {
  padding-top: 2px;
}
.sound-seek-box StIcon {
  icon-size: 16px;
}

.sound-seek-slider {
  width: 140px;
}

.sound-volume-menu-item {
  padding: 0.4em 1.75em;
}
.sound-volume-menu-item StIcon {
  icon-size: 1.14em;
  padding-left: 8px;
  padding-right: 8px;
}

.sound-playback-control {
  padding: 5px 10px 10px 10px;
}

.sound-player {
  padding: 0 4px;
}
.sound-player > StBoxLayout:first-child {
  padding: 5px 10px 12px 10px;
  spacing: 0.5em;
}
.sound-player > StBoxLayout:first-child StButton:small {
  width: 16px;
  height: 8px;
  padding: 1px;
}
.sound-player > StBoxLayout:first-child StButton:small StIcon {
  icon-size: 12px;
}
.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}
.sound-player-overlay {
  width: 290px;
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background-color: rgba(65, 122, 195, 0.56);
  border: none;
  border-bottom: 1px solid #417AC3;
  color: rgba(15, 20, 35, 0.8);
}
.sound-player-overlay StButton {
  width: 22px;
  height: 13px;
  padding: 5px;
  color: rgba(15, 20, 35, 0.8);
  border-radius: 4px;
  border: 1px solid transparent;
}
.sound-player-overlay StButton StIcon {
  icon-size: 16px;
}
.sound-player-overlay StButton:hover {
  color: #0F1423;
  border: 1px solid rgba(168, 174, 179, 0.33);
  background-color: #c6cacd;
}
.sound-player-overlay StButton:active {
  color: #3b4f8b;
  background-color: #d1d4d7;
  border: 1px solid rgba(168, 174, 179, 0.33);
  box-shadow: none;
}
.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}
.sound-player .slider {
  height: 0.5em;
  padding: 0;
  border: none;
  -slider-height: 0.5em;
  -slider-background-color: #cdd1f3;
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #417AC3;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

#workspaceSwitcher {
  spacing: 0px;
  padding: 3px;
}

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}

.workspace-button {
  width: 20px;
  height: 10px;
  color: #ffffff;
  padding: 3px;
  padding-top: 4px;
  transition-duration: 300;
}
.workspace-button:outlined, .workspace-button:outlined:hover {
  color: #181818;
}

.workspace-button:hover {
  color: rgba(24, 24, 24, 0.9);
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 3px;
}

.workspace-graph .workspace {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-gradient-direction: none;
  background-color: #87abd9;
}

.workspace-graph .workspace:active {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: #2d588f;
  background-gradient-direction: none;
}

.workspace-graph .workspace .windows {
  -active-window-background: #8baeda;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: #8baeda;
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: #2d588f;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: #6492ce;
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

#panel-launchers-box {
  padding-left: 7px;
}
#panel-launchers-box.vertical {
  padding: 2px 0;
}

.panel-launcher,
.launcher {
  margin: 1px;
  padding: 1px;
  transition-duration: 200;
}
.panel-launcher:hover,
.launcher:hover {
  background-gradient-direction: none;
  border: 0px solid #417AC3;
}
.panel-bottom .panel-launcher:hover,
.panel-bottom .launcher:hover {
  border-bottom-width: 1px;
}
.panel-top .panel-launcher:hover,
.panel-top .launcher:hover {
  border-top-width: 1px;
}
.panel-left .panel-launcher:hover,
.panel-left .launcher:hover {
  border-left-width: 1px;
  padding-left: 0;
}
.panel-right .panel-launcher:hover,
.panel-right .launcher:hover {
  border-right-width: 1px;
  padding-right: 0;
}

#overview-corner {
  background-image: url("common-assets/misc/overview.png");
}
#overview-corner:hover {
  background-image: url("common-assets/misc/overview-hover.png");
}

.applet-separator {
  padding: 1px 4px;
}
.applet-separator-line {
  width: 1px;
  background: rgba(255, 255, 255, 0.12);
}
.applet-box {
  padding-left: 3px;
  padding-right: 3px;
  color: #ffffff;
  text-shadow: none;
  transition-duration: 100;
  border-radius: 6px;
  border: 2px solid transparent;
}
.applet-box.vertical {
  padding: 3px 0;
}
.applet-box:hover {
  color: #e0e0e0;
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 6px;
  border: 2px solid #5185c8;
}
.applet-box:hover-label, .applet-box:hover .applet-label {
  color: inherit;
}
.applet-box:checked {
  color: #ffffff;
  background-color: #2d588f;
  border-radius: 6px;
  border: 2px solid #5185c8;
}
.applet-box:highlight {
  background-image: none;
  border-image: none;
  background-color: rgba(252, 65, 56, 0.5);
}
.applet-label {
  font-weight: bold;
  color: #ffffff;
}
.applet-label:hover, .applet-box:hover > .applet-label, .applet-label:checked, .applet-box:checked > .applet-label {
  color: #ffffff;
  text-shadow: none;
}
.applet-icon {
  color: rgba(15, 20, 35, 0.7);
  icon-size: 22px;
}
.applet-icon:hover, .applet-box:hover > .applet-icon {
  color: #ffffff;
  text-shadow: none;
}

.user-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.user-label {
  color: #0F1423;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.desklet {
  color: #0F1423;
}
.desklet:highlight {
  background-color: rgba(252, 65, 56, 0.5);
}
.desklet-with-borders {
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  color: #0F1423;
  padding: 12px;
  padding-bottom: 16px;
}
.desklet-with-borders:highlight {
  background-color: rgba(252, 65, 56, 0.5);
}
.desklet-with-borders-and-header {
  border-image: url("common-assets/misc/desklet.svg") 9 9 9 9;
  color: #0F1423;
  border-radius: 0;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  padding: 12px;
  padding-bottom: 17px;
}
.desklet-with-borders-and-header:highlight {
  background-color: rgba(252, 65, 56, 0.5);
}
.desklet-header {
  border-image: url("common-assets/misc/desklet-header.svg") 9 9 9 9;
  color: #0F1423;
  font-size: 1em;
  padding: 12px;
  padding-bottom: 6px;
}
.desklet-drag-placeholder {
  border: 2px solid #417AC3;
  background-color: rgba(65, 122, 195, 0.3);
}

.photoframe-box {
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  color: #0F1423;
  padding: 12px;
  padding-bottom: 16px;
}

/*FIXME*/
.workspace-osd {
  /*color: red;*/
  text-shadow: black 5px 5px 5px;
  font-weight: bold;
  font-size: 48pt;
}

.notification-applet-padding {
  padding: 0.5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

.tile-preview, .tile-preview.snap,
.tile-hud, .tile-hud.snap {
  background-color: rgba(65, 122, 195, 0.3);
  border: 1px solid #417AC3;
}

.xkcd-box {
  padding: 6px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

#LookingGlassDialog {
  color: #0F1423;
  border: 1px solid #cdd1f3;
  border-radius: 3px;
  background-color: #F2F3FC;
  spacing: 4px;
  padding: 8px;
}

.grouped-window-list-item-label {
  color: rgba(255, 255, 255, 0.6);
}
.grouped-window-list-item-box {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  margin: 0px;
  border-radius: 2px;
  border: none;
  box-shadow: none;
}
.grouped-window-list-item-box.top, .grouped-window-list-item-box.bottom, .grouped-window-list-item-box.left, .grouped-window-list-item-box.right {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
}
.grouped-window-list-item-box.top {
  border-top-width: 2px;
}
.grouped-window-list-item-box.bottom {
  border-bottom-width: 2px;
}
.grouped-window-list-item-box.left {
  border-left-width: 2px;
}
.grouped-window-list-item-box.right {
  border-right-width: 2px;
}
.grouped-window-list-item-box:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.8);
}
.grouped-window-list-item-box:focus {
  font-weight: bold;
  color: #ffffff;
  background-color: #2d588f;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.8);
}
.grouped-window-list-thumbnail-menu {
  color: #ffffff;
  background-color: #5c8dcc;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.grouped-window-list-thumbnail-menu .item-box {
  padding: 10px;
  border-radius: 4px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.grouped-window-list-thumbnail-menu .item-box:selected {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.grouped-window-list-badge {
  background-color: #5185c8;
  border-radius: 99px;
}
.grouped-window-list-number-label {
  z-index: 999;
  color: #ffffff;
}

.calendar-events-main-box {
  background-color: transparent;
  padding: 9px;
  margin-right: 7px;
  border-radius: 4px;
  min-width: 350px;
  height: 300px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #cdd1f3;
}

.calendar-events-no-events-button {
  margin: 6px 0;
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
}
.calendar-events-no-events-button:hover {
  color: #0F1423;
  border-color: #cdd1f3;
  background-color: #dde0f7;
}
.calendar-events-no-events-button:active {
  color: #ffffff;
  border-color: #417AC3;
  background-color: #417AC3;
}
.calendar-events-no-events-button:active:backdrop {
  color: rgba(255, 255, 255, 0.67);
}

.calendar-events-no-events-icon,
.calendar-events-no-events-label {
  color: rgba(15, 20, 35, 0.6);
  font-weight: bold;
  text-align: center;
}

.calendar-events-date-label {
  padding: 9px 7px;
  color: rgba(15, 20, 35, 0.6);
  font-weight: bold;
  text-align: center;
}

.calendar-event-button {
  border: 1px solid #cdd1f3;
  border-left-width: 4px;
  border-left-style: solid;
  color: #0F1423;
  background-color: #fafbfe;
  border-color: #417AC3;
  border-radius: 4px;
}
.calendar-event-button .calendar-event-time-present,
.calendar-event-button .calendar-event-time-past,
.calendar-event-button .calendar-event-time-future,
.calendar-event-button .calendar-event-summary,
.calendar-event-button .calendar-event-countdown {
  color: #0F1423;
  text-align: left;
  margin-bottom: 4px;
}
.calendar-event-button .calendar-event-time-present:all-day {
  font-weight: bold;
}
.calendar-event-button:hover {
  background-color: #dde0f7;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #417AC3;
}
.calendar-event-button:active {
  color: #ffffff;
  background-color: #417AC3;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #417AC3;
}

.calendar-event-color-strip {
  width: 0px;
}
